@import url('https://unpkg.com/css.gg/icons/all.css');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;500;600&display=swap');

:root {
  --color-white: 245, 245, 245;
  --color-light-gray: 235, 235, 235;
  --color-black: 20, 20, 20;
  --color-gray: 160, 160, 160;
  --color-grey: var(--color-gray);
  --color-dark-gray: 80, 80, 80;
  --color-dark-grey: var(--color-dark-gray);
  --color-puke: 96, 105, 39;
  --color-cyan: 42, 157, 143;
  --color-red: 255, 82, 82;
  --color-yellow: 255, 145, 0;

  --safe-zone: 40px;
  --transition-linear: all 0.1s linear;
}

:root {
  --background-color: var(--color-white);
  --background-color-2: var(--color-light-gray);
  --color-muted: var(--color-grey);
  --color-primary: var(--color-black);
  --color-accent: var(--color-puke);
  --color-accent-2: var(--color-cyan);
  --color-error: var(--color-red);
  --color-warning: var(--color-yellow);
  --color-info: var(--color-gray);
  --color-muted-dark: var(--color-dark-gray);
}

:root[data-dark] {
  --color-primary: var(--color-white);
}

body {
  display: block;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 100;
}

h2 {
  font-size: 40px;
  letter-spacing: -1.5px;
  font-style: normal;
  font-weight: 100;
  text-align: left;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 30px
}

.container {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 5px 0 20px 0;
  min-width: 600px;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
}

label {
  display: block;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(var(--color-muted-dark));
  height: 25px;
  padding-top: 1em;
}

input[type='text'] {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0px 12px;
  border-radius: 4px;
  border: 1px solid rgba(var(--color-primary), 0.23);
  box-shadow: 0 1px 4px rgba(var(--color-primary), 0.25);
  font-size: 1.05rem;
}

input[type='date'],
input[type='time'] {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0px 12px;
  border-radius: 4px;
  border: 1px solid rgba(var(--color-primary), 0.23);
  box-shadow: 0 1px 4px rgba(var(--color-primary), 0.25);
  font-size: 1.05rem;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M8 9C7.44772 9 7 9.44771 7 10C7 10.5523 7.44772 11 8 11H16C16.5523 11 17 10.5523 17 10C17 9.44771 16.5523 9 16 9H8Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 3C4.34315 3 3 4.34315 3 6V18C3 19.6569 4.34315 21 6 21H18C19.6569 21 21 19.6569 21 18V6C21 4.34315 19.6569 3 18 3H6ZM5 18V7H19V18C19 18.5523 18.5523 19 18 19H6C5.44772 19 5 18.5523 5 18Z' fill='currentColor' /%3E%3C/svg%3E");
  background-size: 20px;
  background-position: calc(100% - 1rem) center;
  background-repeat: no-repeat;
  font-family: 'Public Sans', sans-serif;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  cursor: pointer;
}

input[type='time'] {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M9 7H11V12H16V14H9V7Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z' fill='currentColor' /%3E%3C/svg%3E");
}

textarea {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 200px;
  max-height: 600px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgba(var(--color-primary), 0.23);
  box-shadow: 0 1px 4px rgba(var(--color-primary), 0.25);
  font-size: 1.05rem;
  font-family: 'Public Sans', sans-serif;
  resize: vertical;
}

select {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0px 12px;
  border-radius: 4px;
  border: 1px solid rgba(var(--color-primary), 0.23);
  box-shadow: 0 1px 4px rgba(var(--color-primary), 0.25);
  font-size: 1.05rem;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M6 9.65685L7.41421 11.0711L11.6569 6.82843L15.8995 11.0711L17.3137 9.65685L11.6569 4L6 9.65685Z' fill='currentColor' /%3E%3Cpath d='M6 14.4433L7.41421 13.0291L11.6569 17.2717L15.8995 13.0291L17.3137 14.4433L11.6569 20.1001L6 14.4433Z' fill='currentColor' /%3E%3C/svg%3E%0A");
  background-size: 24px;
  background-position: calc(100% - 1rem) center;
  background-repeat: no-repeat;
  cursor: pointer;
}

button {
  display: inline-block;
  position: relative;
  width: auto;
  height: 42px;
  line-height: 42px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 0 22px;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: rgb(var(--color-accent));
  background-color: transparent;
}

button.right {
  float: right;
}

button.primary {
  color: rgb(var(--background-color));
  background-color: rgb(var(--color-accent));
}

button.muted,
button:disabled {
  color: rgb(var(--color-muted));
  background-color: rgba(var(--background-color-2), 0.4);
}

table {
  border-collapse: collapse;
  border-spacing: 40px 0;
  text-align: left;
}

tr {
  border-bottom: 1px solid lightgray;
  line-height: 35px;
}

.responder-view {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.table-left-align {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(var(--background-color-2));
  padding: 0 1rem;
  align-items: center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12);
  user-select: none;
}

.navbar > .logo {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/uplusion23/image/upload/v1637359283/SFLogo.png")
}

.navbar > .links {
  display: flex;
  flex-direction: row;
  position: relative;
}

.navbar > .links > .focused {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-left: 15px;
}

.navbar > .links > .unfocused {
  display: flex;
  justify-content: center;
  align-items: center;
  color: dimgrey;
  padding-left: 15px;
  text-decoration: none;
}

.group {
  display: grid;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 40px;
}

.group.split {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  margin: 0;
}

.group.flex {
  display: flex;
  flex-direction: row-reverse;
}

.alert-container {
  display: block;
  position: relative;
  width: 100%;
  height: 56px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 56px;
  background-color: rgba(var(--color-accent-2), 0.25);
  box-sizing: border-box;
  padding: 0 1rem;
  margin: 0;
  border-radius: 4px;
  user-select: none;
}

.alert > .group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.alert > .group > span {
  margin-left: 0.9rem;
}

.alert > .group > button {
  padding: 0;
  color: rgb(var(--color-accent-2));
}

.alert > .group > i {
  color: rgb(var(--color-accent-2));
}

.alert > .group:first-of-type > i {
  color: rgb(var(--color-accent-2));
}

.alert > .group:nth-of-type(2) > i {
  color: rgb(var(--color-primary));
  cursor: pointer;
}

.alert.alert-success {
  background-color: rgba(var(--color-accent-2), 0.25);
}

.alert.alert-success > .group button {
  color: rgb(var(--color-accent-2));
}

.alert.alert-success > .group:first-of-type > i {
  color: rgb(var(--color-accent-2));
}

.alert.alert-success > .group > span {
  color: rgb(var(--color-accent-2));
  filter: brightness(20%);
}

.alert.alert-error {
  background-color: rgba(var(--color-error), 0.25);
}

.alert.alert-error > .group button {
  color: rgb(var(--color-error));
}

.alert.alert-error > .group:first-of-type > i {
  color: rgb(var(--color-error));
}

.alert.alert-error > .group > span {
  color: rgb(var(--color-error));
  filter: brightness(20%);
}

.alert.alert-warning {
  background-color: rgba(var(--color-warning), 0.25);
}

.alert.alert-warning > .group button {
  color: rgb(var(--color-warning));
}

.alert.alert-warning > .group:first-of-type > i {
  color: rgb(var(--color-warning));
}

.alert.alert-warning > .group > span {
  color: rgb(var(--color-warning));
  filter: brightness(20%);
}

.alert.alert-info {
  background-color: rgba(var(--color-info), 0.25);
}

.alert.alert-info > .group button {
  color: rgb(var(--color-info));
}

.alert.alert-info > .group:first-of-type > i {
  color: rgb(var(--color-info));
}

.alert.alert-info > .group > span {
  color: rgb(var(--color-info));
  filter: brightness(20%);
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  margin-top: 24px;
}

.checkbox > input[type="checkbox"] {
  display: none;
}

.checkbox::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid rgb(var(--color-primary));
}

.checkbox[data-checked="true"]::before {
  content: '';
  color: rgb(var(--background-color));
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M10.5858 13.4142L7.75735 10.5858L6.34314 12L10.5858 16.2427L17.6568 9.1716L16.2426 7.75739L10.5858 13.4142Z' fill='currentColor' /%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.checkbox > span {
  margin-left: 12px;
  line-height: 18px;
  font-size: 1rem;
}

.checkbox[parent] {
  padding-left: 32px;
}

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-primary), 0.7);
  box-sizing: border-box;
  overflow: hidden;
  z-index: 100;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-container > .modal-dialog {
  display: block;
  position: relative;
  min-width: 500px;
  max-width: 70vw;
  height: auto;
  max-height: 900px;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  background-color: rgb(var(--background-color));
}

.modal-container > .modal-dialog hr {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgba(var(--color-primary), 0.2);
  border: none;
  margin: 0;
  padding: 0;
}

.modal-container > .modal-dialog hr.extra-spacing {
  margin-top: 140px;
}

.modal-container > .modal-dialog .modal-header {
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  user-select: none;
}

.modal-container > .modal-dialog .modal-header > button {
  color: rgb(var(--color-primary));
  margin: 0;
  padding: 0;
}

.modal-container > .modal-dialog .modal-content {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 85px;
}

.modal-container > .modal-dialog .modal-content label {
  padding: 0;
}

.modal-container > .modal-dialog .modal-footer {
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 1rem;
  user-select: none;
}

.Dropdown-root {
  display: block;
  position: relative;
  z-index: 0;
}

.Dropdown-root > .Dropdown-control {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0px 12px;
  border-radius: 4px;
  border: 1px solid rgba(var(--color-primary), 0.23);
  box-shadow: 0 1px 4px rgba(var(--color-primary), 0.25);
  font-size: 1.05rem;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M6 9.65685L7.41421 11.0711L11.6569 6.82843L15.8995 11.0711L17.3137 9.65685L11.6569 4L6 9.65685Z' fill='currentColor' /%3E%3Cpath d='M6 14.4433L7.41421 13.0291L11.6569 17.2717L15.8995 13.0291L17.3137 14.4433L11.6569 20.1001L6 14.4433Z' fill='currentColor' /%3E%3C/svg%3E%0A");
  background-size: 24px;
  background-position: calc(100% - 1rem) center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.Dropdown-root > .Dropdown-menu {
  display: block;
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0;
  border-radius: 0 0 4px 4px;
  border: 1px solid rgba(var(--color-primary), 0.23);
  box-shadow: 0 1px 4px rgba(var(--color-primary), 0.25);
  background-color: rgb(var(--background-color));
  font-size: 0.95rem;
  z-index: 99;
  cursor: pointer;
}

.Dropdown-root > .Dropdown-menu > .Dropdown-option {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s linear;
}

.Dropdown-root > .Dropdown-menu > .Dropdown-option:hover {
  background-color: rgba(var(--color-primary), 0.05);
}

.Dropdown-root .Dropdown-placeholder {
  color: rgb(var(--color-muted));
}

.Dropdown-root .Dropdown-placeholder.is-selected {
  color: rgb(var(--color-primary));
}

.reports-selected-bar {
  /*position: absolute;*/
  /*width: 1039px;*/
  height: 60px;
  /*left: 0px;*/
  /*top: 0px;*/

  margin: auto;
  background: #F4F5F1;
  align-content: center;
  justify-content: space-between;
  display: flex;
}

.reports-selected-bar .reports-selected-text {
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #000000;
}

.reports-selected-bar .text .send-button {
  font-family: Public Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
  color: #5D6A18;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}

.pagination {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.pagination > *:first-child {
  margin-left: auto;
}

.pagination button {
  padding: 0;
  cursor: pointer;
  color: rgb(var(--color-primary));
}

.pagination button.disabled,
.pagination button[disabled],
.pagination button:disabled {
  color: rgba(var(--color-primary), 0.4);
  background-color: transparent;
  pointer-events: none;
}

.pagination > .size-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.pagination > .page-controls {
  display: block;
}

.pagination > .page-controls {
  display: flex;
  position: relative;
  width: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  --ggs: 0.9;
}